
*{
    box-sizing: border-box;
}
body {
    margin:0;
    font-family:Arial;
    background-color:white;
    
}
#header {
    position:fixed;
    margin:0;
    padding:10px;
    height: 70px;
    background-image: linear-gradient(90deg,rgb(243, 243, 139,0.9), rgb(245, 181, 62,0.9), rgba(241, 53, 53, 0.9), rgba(150, 22, 71, 0.9),rgb(93, 44, 184,0.9));
    background-color:rgb(240, 234, 234);
    top:0;
    right:0;
    z-index:3;
    width:100%;


}

#logo {
    float:left;
    margin-left:100px;
    opacity: 1;
}


#nav ul{
    list-style-type: none;
    float: right;
    margin-right: 200px;
}
#nav li{
    display: inline;
    padding: 22px 15px 22px 15px;
    margin:15px;
}
#nav a{
    text-decoration:none;

}
#nav a i:hover{
    color:rgb(191, 199, 199);

}

i {
    color:rgb(52, 55, 55);
    font-size:27px;
}


